ul{
  list-style: none;
}
.list-style-none{
  list-style: none;
}
.relative{
  position: relative;
}
a{
  text-decoration: none;
}
.img-fluid{
  max-width: 100%;
  max-height: auto;
}
.bg-white{
  background-color: #fff;
}
.bg-transparent{
  background-color: transparent;
}
.bg-primary{
  background-color: #0071BC;
}
.h-100{
  height: 100%;
}